.AddBoardPopup {
    position:relative;
    border: 5px solid snow;
    background-color: black;
    margin: 0 auto;
    height: 300px;
    width: 295px;
    display: grid;
    place-items: center;
    z-index:10;
}

.createBoard {
    border: 1px solid snow;
    color: snow;
    background-color: #B19CD9;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
}

    .createBoard:active {
        background-color: #1E1436;
    }

.errorMessage {
    color: red;
}

.closeButton {
    position: absolute;
    top: -15px;
    right: -15px;
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color:red;
    color: snow;
    border: 1px solid snow;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
