.sideBar {
    width: 200px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    transition: left 0.3s ease;
    z-index: 2;
}

.sideBar.hidden {
    left: -180px;
}

.sideBarToggle {
    position: absolute;
    top: 50%;
    right: -30px;
    width: 25px;
    height: 25px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.5;
}

    .sideBarToggle:hover {
        opacity: 1;
    }

.userDiv {
    width:150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userIcon {
    width:25px;
}

.logOutButton {
    color: white;
    width:20px;
    height:20px;
    border-width: 0px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    align-content: center;
    align-items: center;
    cursor: pointer;
}

    .logOutButton:hover {
        background-color: red;
    }

.logOutButton::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 55px;
    width: 50px;
    transform: translateX(-50%);
    background-color: #6B5886;
    border: solid;
    border-width: 1px;
    border-color: snow;
    color: snow;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.logOutButton:hover::before {
    opacity: 1;
}

.newBoardButton {
    width: 150px;
    color: snow;
    background-color: #1E1436;
    border: 2px solid snow;
    cursor: pointer;
    border-radius: 5px;
}

.newBoardButton:hover {
    background-color: #3d3254;
}

.boardSquare {
    width: 10px;
    height: 10px;
}
p.boardText {
    width: 100px;
    max-width: 100px;
    word-wrap: anywhere;
}

.boardContainer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0px;
    width: 100%;
    border-bottom: 2px solid snow;
}

.boardContainer:hover {
    background-color: #3d3254;
}

.boardDeleteButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid snow;
    border-radius: 50%;
    width:20px;
    height:20px;
    cursor: pointer;
}