body {
    font-family: 'Montserrat';
    background-color: #1E1436;
    color: #F8F8F8;
    margin: 0 auto;
}

div {
    margin: 20px;
}

input {
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
}

#logInButton{
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    width: 150px;
}

#logInButton:active {
    background-color: #003f80;
}